{
  "modules_root" : "/home/vagrant/folio",
  "okapi_path" : "/home/vagrant/okapi/okapi-core/target/okapi-core-fat.jar",
  "okapi_port" : "9130",
  "okapi_host" : "localhost",
  "okapi_log" : "/tmp/okapi_out.log",
  "modules" : {},
  "module_load_list" : ["mod-permissions", "mod-configuration", "mod-users",
      "mod-event-config", "mod-circulation-storage",
      "mod-email", "mod-sender", "mod-template-engine", "mod-password-validator",
      "mod-calendar",
      "mod-login",  "mod-notify", "mod-feesfines", "mod-source-record-storage",
      "mod-inventory-storage", "mod-inventory",
      "mod-circulation", "mod-inventory-match", "mod-users-bl" ],
  "auth_module_load_list" : ["mod-authtoken"],
  "data_load_list" : [],
  "tenant" : "diku",
  "db_reset_script" : "db_init.sh"
}
